<%= flash[:notice] %>
<div class='container px-5 px-sm-0'>
    <div class='row'>
      <div class='col-md-3'>
        <%= render 'book', user: @user, book: @newbook %>
        <div class="col-md-8 offset-md-1">
          <h1>Book detail</h1>
          <table class="table">
            <tbody>
              <tr>
                <% if @user.profile_image.attached? %>
                  <td><%= image_tag @user.profile_image, size: "100x100" %><br>
                  <%= link_to @user.name, user_path(@user) %></td>
                <% else %>
                  <td><%= image_tag "default-image.jpg", size: "100x100" %><br>
                  <%= link_to @user.name, user_path(@user) %></td>
                <% end %>
                <td><%= link_to @book.title, book_path %></td>
                <td><%= @book.body %></td>
                <td><%= render 'books/favorite', book: @book%></td>
                <td>コメント数: <span><%= @book.book_comments.count %></span></td> <%#コメント数%>

                <% if @book.user == current_user %>
                  <td><%= link_to "Edit", edit_book_path, class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-sm btn-danger" %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
          <div>
	         <% @book.book_comments.each do |book_comment|%>
	         <table>
              <tr>
          		  <% if book_comment.user.profile_image.attached? %>
                  <td><%= image_tag book_comment.user.profile_image, size: "100x100" %><br>
                  <%= link_to book_comment.user.name, user_path(book_comment.user) %></td>
                <% else %>
                  <td><%= image_tag "default-image.jpg", size: "100×100" %><br>
                  <%= link_to book_comment.user.name, user_path(book_comment.user) %></td>
                <% end %>
              	<td>
              		<%= book_comment.comment %>
              	</td>
              	<td>
            		  <% if book_comment.user_id == current_user.id %>
            		  <%= link_to "Destroy",  book_book_comment_path(@book, book_comment), method: :delete, class: "btn-sm btn-danger",remote: true %>
            		  <br>
            		  <% end %>
            	  </td>
              </tr>
              <% end %>
              </table>
            <div class="post-comment">
    				<%= form_with(model:[@book,@book_comment], remote: true, method: :post, value: "") do |f| %>
    				<%= f.text_area :comment, size: "100x5" %><br>
    				<%= f.submit "送信" %>
    				<% end %>
  			  </div>
        </div>
      </div>
    </div>
  </div>